.link {
  text-decoration: none;
  color: black;
}
.button {
  border: none;
}
.hov {
  text-decoration: none;
  color: rgb(189, 188, 188);
}
.tag {
  background-color: rgb(194, 194, 194);
}
.multiuser {
  margin-top: 100px;
}

.settings {
  width: 40%;
  padding: 10px;
  margin: 10px;
}

@media (max-width: 700px) {
  .settings {
    width: 90%;
  }
}

@media (max-width: 1100px) {
  .settings {
    width: 70%;
  }
}
