.link {
  text-decoration: none;
  color: black;
}
.button {
  border: none;
}
.hov {
  text-decoration: none;
  color: rgb(189, 188, 188);
}
.tag {
  background-color: rgb(194, 194, 194);
}
.multiuser {
  margin-top: 100px;
}

.textareafocus:focus{
  outline: none;
}
.focus:focus{
  border:2px solid #f9ba33;
}

.settings {
  width: 40%;
  padding: 10px;
  margin: 10px;
}

/**
 * Tabs
 */
 .tabs {
	display: flex;
	flex-wrap: wrap; 
}
.tabs label {
	order: 1; 
	display: block;
	padding: 1rem 2rem;
	margin-right: 0.2rem;
	cursor: pointer;
  background: #f9ba33;
  font-weight: bold;
  transition: background ease 0.2s;
}
.tabs .tab {
  order: 99;
  flex-grow: 1;
	width: 100%;
	display: none;
  padding: 1rem;
  background: #fff;
}
.tabs input[type="radio"] {
	display: none;
}
.tabs input[type="radio"]:checked + label {
	background: #fff;
}
.tabs input[type="radio"]:checked + label + .tab {
	display: block;
}

@media (max-width: 45em) {
  .tabs .tab,
  .tabs label {
    order: initial;
  }
  .tabs label {
    width: 100%;
    margin-right: 0;
    margin-top: 0.2rem;
  }
}

@media (max-width: 700px) {
  .settings {
    width: 90%;
  }
}

@media (max-width: 1100px) {
  .settings {
    width: 70%;
  }
}
